@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

.container {
  color: #4f4f4f;
  
  font-family: "Space Mono", monospace;
  font-style: normal;
  
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  align-self: flex-start;
  color: #333333;
  
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 700;

  line-height: 25.18px;
  letter-spacing: -0.08em;

  text-transform: uppercase;
}

main {
  align-items: center;
  
  display: flex;
  
  justify-content: center;
  
  margin-top: 5em;
  margin-left: 2em;
  margin-bottom: 5rem;
}

.illustration {
  width: 478px;

  margin-right: 5rem;
}

.description-title {
  color: #333333;

  font-size: 64px;
  font-weight: 700;

  letter-spacing: -0.035em;
  line-height: 95px;
}

.description p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  margin: 1rem 0 4rem;
  
  width: 381px;
}

.button {
  color : #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  text-decoration: none;
  width: 216px;
  height: 68px;

  background-color: #333;

  padding: 20px 28px;
}

.text-footer {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
  line-height:17px;
  text-align: center;
}

@media screen and (max-width:  760px) {
  .container {
    padding: 0;
  }


  .header-title {
    margin-top: 25px;
    margin-left: 30px;
  }

  main {
    flex-direction: column;
  }

  .illustration {
       width: 16rem;
    margin-left: 50px;
  }

  .description-title {
    font-size: 3rem;
    line-height: 4rem;
    width: 17rem;
    margin-top: 2.5rem;
  }

  .description p {
    font-size: 1.1rem;
    line-height: 2rem;
    width: 16rem;
  }
}
